<!-- <a href="{{ "/about.html" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About Me</h2></a> -->
<a href="{{ "/DS.html" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Data Science</h2></a>
<a href="{{ "/OMSCS.html" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">OMSCS</h2></a>
<a href="{{ "/CTF.html" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">CTFs</h2></a>
<a href="{{ "/Misc.html" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Misc</h2></a>